.nav {
  background-color: rgb(245, 240, 240);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav_each {
  position: relative;
  display: inline-block;
  width: 25%;
  color: rgb(31, 30, 30);
}
